# --- Core ---
gradio==3.50.2
tensorflow-cpu==2.13.0
spleeter==2.3.2
basic-pitch==0.4.0

# --- Audio + Utils ---
ffmpeg-python==0.2.0
librosa==0.8.1
soundfile==0.12.1
numpy==1.22.4

# --- Misc ---
pydub==0.25.1
